.tituloNavBar{
    color: rgba(109, 45, 151, 0.74);
    padding: 25px;
    text-align: start;
    font-weight: 500;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barranavegacion{
    display: flex;
    justify-content: space-between;
    background-color: rgba(80, 125, 192, 0.288);
    align-items: center;
}




.botoncelulares{
    color: rgba(97, 66, 117, 0.74);
    font-weight: 500;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    display: flex;
    

}

.iconoBag{
    display: flex;
    padding-top: 10px;
    cursor: pointer; 
    width: 250px;
}

#espaciado{
    width: 60px;
    height:60px;    
    border: solid;
    border-radius: 30%;
    border-color: rgb(117, 141, 141);
    background-color: rgba(141, 109, 63, 0.452);
}

.contenedor5{
    padding-right:200px ;
}


.tarjetaCelulares{ 
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap
    
    

}

.hola{
   border-radius: 5%;
   border-style: solid;
   border-color: blue;
   background-color: rgba(240, 114, 114, 0.199);
   padding: 20px;
   text-align: center;
   
}