.tituloNavBar{
    color: rgba(109, 45, 151, 0.74);
    padding: 25px;
    text-align: start;
    font-weight: 500;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barranavegacion{
    display: flex;
    justify-content: space-between;
    background-color: rgba(80, 125, 192, 0.288);
    align-items: center;
}



.botoncelulares{
    color: rgba(131, 57, 180, 0.74);
    font-weight: 500;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    display: flex;

}

.iconoBag{
    display: flex;
    padding-top: 10px;
    cursor: pointer; 
    width: 250px;
}

#espaciado{
    width: 60px;
    height:60px;    
    border: solid;
    border-radius: 30%;
    border-color: rgb(117, 141, 141);
    background-color: rgba(211, 197, 178, 0.452);
}

.contenedor5{
    padding-right:200px ;
}


.contenedorProductos{
    padding: 40px;
    background-color: rgba(141, 212, 214, 0.548);
    
}


.contenedorCelulares{
    padding: 20px;
}

.posicionCelular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.estilosCelus{
    border: solid;
    border-radius: 1.5%;
    border-color: rgb(178, 231, 231);
}

.DetailEstilos{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(187, 220, 221, 0.548);

}
